html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("fonts/Roboto"), url("./fonts/Roboto/Roboto-Regular.ttf"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), url("./fonts/Roboto/Roboto-Light.ttf"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), url("./fonts/Noto_Sans/NotoSans-Regular.ttf"), url(https://fonts.gstatic.com/s/notosans/v7/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), url("./fonts/Oswald/Oswald-Regular.ttf"), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8G.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), url("./fonts/Open_Sans/OpenSans-Regular.ttf"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* ---- colors */
/* ---- text: set base values */
/* ---- text: fonts */
/* ---- text: line-height */
/* ---- text:  scale */
/* ---- spacing  */
/* ---- fixed spacing - not affected by $space-base or $text-base-size */
/* -------- GLOBALS / UTILITY -------- */
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #00a8e8; }

html {
  background: #e8e7e8;
  height: 100%;
  position: relative; }

body {
  position: relative;
  display: flex;
  margin: 0;
  min-height: 100%;
  font-size: 1em;
  font-family: "Noto Sans", sans-serif;
  color: #2e2e31;
  line-height: 1.4; }

p, .text {
  line-height: 1.4; }

h6, .text-xs {
  font-size: 0.6944444444em; }

h5, .text-sm {
  font-size: 0.8333333333em; }

h4, .text-md {
  font-size: 1.2em; }

h3, .text-lg {
  font-size: 1.44em; }

h2, .text-xl {
  font-size: 1.728em; }

h1, .text-xxl {
  font-size: 2.0736em; }

.text-xxxl {
  font-size: 2.48832em; }

h1, h2, h3, h4, form legend {
  color: #003459;
  margin-bottom: 0.3125em;
  line-height: 1.2; }

.container {
  width: 1100px;
  max-width: 1100px;
  min-width: 1100px;
  margin: 0 auto; }
  @media only screen and (max-width: 1099px) {
    .container {
      width: 100%;
      max-width: 100%;
      min-width: 100%; } }

.container-fluid {
  width: 100%;
  min-width: 100%;
  max-width: 1920px; }

.icons {
  display: flex;
  flex-wrap: wrap; }
  .icons > *:first-child {
    margin-left: 0; }

.tag {
  white-space: nowrap;
  background: #2e2e31;
  display: inline;
  font-size: 0.8333333333em;
  color: #a5a5a6;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  padding-top: 0.3125em;
  padding-bottom: 0.3125em; }

a.tag:hover {
  color: #00a8e8; }

.icon {
  background: #00a8e8;
  width: 56px;
  height: 56px;
  position: relative;
  margin: 0.9375em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer; }
  .icon svg {
    color: #1d1d21;
    fill: #1d1d21;
    width: 30px;
    height: 30px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s; }
  .icon svg:hover {
    color: #ffffff;
    fill: #ffffff; }
  .icon.circle {
    border-radius: 100%; }

/*
.icons .icon {
  margin-left: 20px;
}
*/
/* -------- HOLY GRAIL LAYOUT -------- */
div#pageWrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between; }
  div#pageWrapper > * {
    width: 100%;
    max-width: 100%; }
  div#pageWrapper #pageTop {
    max-height: 680px; }
  div#pageWrapper #pageMain {
    padding-top: 60px;
    min-height: 320px;
    flex: 1; }

/* -------- MAJOR ELEMENTS -------- */
/* ----- set header */
header#pageHeader {
  border-top: 10px solid #00a8e8;
  background: #1d1d21;
  min-height: 140px;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%; }
  header#pageHeader .leftAside {
    flex: 1; }
    header#pageHeader .leftAside a.logo {
      height: 56px;
      position: relative;
      display: flex;
      align-items: center;
      align-content: center; }
      header#pageHeader .leftAside a.logo svg.logoImage {
        width: 66px;
        height: 56px;
        margin-right: 5px; }
      header#pageHeader .leftAside a.logo div.logoText {
        height: 56px;
        line-height: 56px;
        font-size: 20px;
        font-family: "Oswald", sans-serif;
        color: #ffffff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  header#pageHeader nav.navigation {
    display: flex;
    margin: 0 2.5em 0 2.5em; }
    @media only screen and (max-width: 1439px) {
      header#pageHeader nav.navigation {
        min-width: 40%;
        position: fixed;
        display: block;
        z-index: 10;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        top: 0;
        bottom: 0;
        background: #1d1d21; }
        header#pageHeader nav.navigation a.nav-item {
          display: block;
          width: 100%; } }
    @media only screen and (max-width: 1247px) {
      header#pageHeader nav.navigation {
        min-width: 50%; } }
    @media only screen and (max-width: 767px) {
      header#pageHeader nav.navigation {
        min-width: 70%; } }
    @media only screen and (max-width: 559px) {
      header#pageHeader nav.navigation {
        min-width: 90%; } }
    @media only screen and (max-width: 399px) {
      header#pageHeader nav.navigation {
        min-width: 100%; } }
    header#pageHeader nav.navigation a.nav-item {
      height: 56px;
      padding: 0 2.5em 0 2.5em;
      line-height: 56px;
      font-size: 1.44em;
      font-family: "Oswald", sans-serif;
      color: #ffffff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      header#pageHeader nav.navigation a.nav-item:hover, header#pageHeader nav.navigation a.nav-item.active {
        color: #00a8e8; }
  header#pageHeader div.rightAside {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    line-height: 90px; }

/* ----- set page teaser below header  */
#pageTeaser {
  height: 540px;
  background: #1D1D21;
  font-family: "Roboto", sans-serif;
  text-align: center; }
  #pageTeaser h1 {
    color: #00a8e8;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 50px;
    text-transform: uppercase; }
  #pageTeaser .services {
    display: flex;
    justify-content: space-between;
    min-height: 140px; }
    #pageTeaser .services .service {
      min-height: 140px;
      color: #a5a5a6;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      width: 22%; }
      #pageTeaser .services .service .icon {
        margin: 1.5625em;
        background: #ffffff; }
      #pageTeaser .services .service h2 a {
        color: #ffffff;
        font-family: "Oswald", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      #pageTeaser .services .service p {
        font-family: "Roboto Light", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    #pageTeaser .services .service-design .icon {
      background: #88c459; }
    #pageTeaser .services .service-programming .icon {
      background: #00a8e8; }
    #pageTeaser .services .service-tutorials .icon {
      background: #f5414f; }
    #pageTeaser .services .service-news .icon {
      background: #ffd137; }

.articles {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25em;
  flex-wrap: wrap;
  justify-content: space-between; }

.article {
  max-width: calc(50% - 1.25em);
  min-width: calc(50% - 1.25em);
  background: #fff;
  margin-bottom: 2.5em; }
  .article figure.image {
    background-color: #7b7a7d;
    height: 250px; }
  .article .body {
    padding: 1.25em; }
    .article .body h2 {
      color: #1d1d21;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 2.48832em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .article .body p {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

.tags {
  text-align: center;
  padding: 2.5em;
  line-height: 33px;
  overflow: hidden; }

/* FOOTER */
footer#pageBottom {
  padding-top: 1.5625em;
  display: flex;
  flex-direction: column;
  background: #1d1d21;
  overflow: hidden;
  justify-content: flex-end; }
  footer#pageBottom .brand {
    min-height: 100px;
    padding: 1.5625em;
    border-top: 1px solid #2e2e31;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: #a5a5a6; }
    footer#pageBottom .brand .copyright {
      display: flex;
      align-items: center;
      align-content: center; }
      footer#pageBottom .brand .copyright .logo {
        margin-right: 0.9375em; }
  footer#pageBottom .siteMap {
    min-height: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px; }
    footer#pageBottom .siteMap a.nav-item {
      height: 50px;
      color: #ffffff;
      padding: 0 40px 0 40px;
      font-family: "Oswald", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: uppercase; }
    footer#pageBottom .siteMap a:hover {
      color: #00a8e8; }
    footer#pageBottom .siteMap a.active {
      color: #00a8e8; }
  @media only screen and (max-width: 559px) {
    footer#pageBottom .icons {
      width: 100%;
      justify-content: space-between; }
      footer#pageBottom .icons > .icon {
        margin: 0.625em; }
    footer#pageBottom .copyright {
      margin-left: 0.625em;
      margin-right: 0.625em;
      align-self: flex-start; } }
  @media only screen and (max-width: 1023px) {
    footer#pageBottom .brand {
      flex-direction: column-reverse;
      padding: 0; }
      footer#pageBottom .brand > * {
        padding: 1.5625em; } }

/*# sourceMappingURL=index.css.map */
