html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("fonts/Roboto"), url("./fonts/Roboto/Roboto-Regular.ttf"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), url("./fonts/Roboto/Roboto-Light.ttf"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), url("./fonts/Noto_Sans/NotoSans-Regular.ttf"), url(https://fonts.gstatic.com/s/notosans/v7/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), url("./fonts/Oswald/Oswald-Regular.ttf"), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8G.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), url("./fonts/Open_Sans/OpenSans-Regular.ttf"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* ---- colors */
/* ---- text: set base values */
/* ---- text: fonts */
/* ---- text: line-height */
/* ---- text:  scale */
/* ---- spacing  */
/* ---- fixed spacing - not affected by $space-base or $text-base-size */
/* -------- GLOBALS / UTILITY -------- */
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  background: #e8e7e8;
  height: 100%;
  position: relative; }

body {
  position: relative;
  display: flex;
  margin: 0;
  min-height: 100%;
  font-size: 1em;
  font-family: "Noto Sans", sans-serif;
  color: #2e2e31;
  line-height: 1.4; }

p, .text {
  line-height: 1.4; }

h6, .text-xs {
  font-size: 0.6944444444em; }

h5, .text-sm {
  font-size: 0.8333333333em; }

h4, .text-md {
  font-size: 1.2em; }

h3, .text-lg {
  font-size: 1.44em; }

h2, .text-xl {
  font-size: 1.728em; }

h1, .text-xxl {
  font-size: 2.0736em; }

.text-xxxl {
  font-size: 2.48832em; }

h1, h2, h3, h4, form legend {
  color: #003459;
  margin-bottom: 0.3125em;
  line-height: 1.2; }

.container {
  width: 1200px;
  margin: 0 auto; }

.container-fluid {
  width: 100%;
  min-width: 100%; }

.icon {
  background: #e8e7e8;
  color: #00a8e8;
  width: 56px;
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 20px; }
  .icon svg {
    color: #00a8e8;
    fill: #00a8e8;
    width: 30px !important;
    height: auto; }
  .icon.circle {
    border-radius: 100%; }

/* -------- HOLY GRAIL LAYOUT -------- */
div#pageWrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between; }
  div#pageWrapper > * {
    width: 100%; }
  div#pageWrapper #pageTop {
    max-height: 590px;
    height: 590px; }
  div#pageWrapper #pageMain {
    flex: 1; }
    div#pageWrapper #pageMain .container {
      padding: 2.5em; }
  div#pageWrapper footer#pageBottom {
    max-height: 300px;
    height: 300px;
    background: #2e2e31; }

/* -------- MAJOR ELEMENTS -------- */
/* ----- set header */
header#pageHeader {
  background: #ffffff;
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between; }
  header#pageHeader .leftAside {
    flex: 1; }
    header#pageHeader .leftAside a.logo {
      display: flex;
      align-items: center;
      align-content: center;
      height: 56px;
      position: relative; }
      header#pageHeader .leftAside a.logo svg.logoImage {
        width: 66px;
        height: 56px;
        margin-right: 5px; }
      header#pageHeader .leftAside a.logo div.logoText {
        height: 56px;
        line-height: 56px;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        color: #00A4FF;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  header#pageHeader nav.navigation {
    display: flex;
    padding: 0 20px 0 0; }
    header#pageHeader nav.navigation a {
      height: 56px;
      line-height: 56px;
      padding: 0 20px 0 20px;
      font-family: "Roboto", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #00171f; }
    header#pageHeader nav.navigation a.active {
      border-bottom: 5px solid #00a8e8; }
  header#pageHeader div.rightAside {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    line-height: 90px; }

/* ----- set page teaser below header  */
#pageTeaser {
  min-height: 500px;
  height: 500px;
  padding: 20px;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #003459; }

.articles {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25em;
  flex-wrap: wrap;
  justify-content: space-between; }

.article {
  max-width: calc(50% - 1.25em);
  min-width: calc(50% - 1.25em);
  border-top: 10px solid #00a8e8;
  background: #fff;
  margin-bottom: 2.5em; }
  .article figure.image {
    background-color: #7b7a7d;
    height: 250px; }
  .article .body {
    padding: 1.25em; }

/*# sourceMappingURL=index.css.map */
