@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'variables';

/* -------- GLOBALS / UTILITY -------- */

* { box-sizing: border-box; }
a { text-decoration: none; color: $color-light1; }
html { background: $gray-1; height: 100%; position: relative; }

body {
  position: relative;
  display: flex;
  margin: 0;
  min-height: 100%;
  font-size: $text-base-size;
  font-family: $font-article;
  color: $gray-10;
  line-height: $body-line-height;
}

p, .text { line-height: $body-line-height; }

h6, .text-xs  { font-size: $text-xs; }
h5, .text-sm  { font-size: $text-sm; }
h4, .text-md  { font-size: $text-md; }
h3, .text-lg  { font-size: $text-lg; }
h2, .text-xl  { font-size: $text-xl; }
h1, .text-xxl { font-size: $text-xxl; }
.text-xxxl    { font-size: $text-xxxl; }

h1, h2, h3, h4, form legend {
  color: $color-text-heading;
  margin-bottom: $space-xxs;
  line-height: $heading-line-height;
}

.container {
  width: 1100px;
  max-width: 1100px;
  min-width: 1100px;
  margin: 0 auto;

  @include breakpoint('desktop-small', 'max') {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

.container-fluid {
  width: 100%;
  min-width: 100%;
  max-width: 1920px;
}

.icons {
  display: flex;
  flex-wrap: wrap;

  > *:first-child {
    margin-left: 0;
  }
}

.tag {
  white-space: nowrap;
  background: $gray-10;
  display: inline;
  font-size: $text-sm;
  color: $gray-4;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: $space-sm;
  padding-right: $space-sm;
  padding-top: $space-xs / 2;
  padding-bottom: $space-xs / 2;
}

a.tag:hover {
  color: $color-light1;
}

.icon {
  background: $color-light1;
  width: 56px;
  height: 56px;
  position: relative;
  margin: $space-sm;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  svg {
    color: $black;
    fill: $black;
    width: 30px;
    height:30px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
  }

  svg:hover {
    color: $white;
    fill: $white;
  }

  &.circle {
    border-radius: 100%;
  }
}
/*
.icons .icon {
  margin-left: 20px;
}
*/
/* -------- HOLY GRAIL LAYOUT -------- */

div#pageWrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;

  > * { width: 100%; max-width: 100%; }

  #pageTop {
    max-height: 780px;
    background-position: center center;
    .icon {
      box-shadow: -2px -2px 2px rgba(255,255,255,.1), 2px 2px 2px rgba(0,0,0,.5);
    }
  }

  #pageMain {
    padding-top: 60px;
    min-height: 320px;
    flex: 1;
    .container {


    }
  }

}

/* -------- MAJOR ELEMENTS -------- */

/* ----- set header */
header#pageHeader {
 // border-top: 10px solid $color-light1;
  //background: $black;
  min-height: 140px;
  padding-left: $space-md;
  padding-right: $space-md;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;

  .leftAside
  {
    flex: 1;
    a.logo
    {
      height: 56px;
      position: relative;
      display: flex;
      align-items: center;
      align-content: center;
      svg.logoImage
      {
        width: 66px;
        height: 56px;
        margin-right: 5px;
      }
      div.logoText
      {
        height: 56px;
        line-height: 56px;
        font-size: 20px;
        font-family: $font-highlight;
        color: $white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  nav.navigation
  {
    display: flex;
    margin: 0 $space-lg 0 $space-lg;
    text-shadow: -2px -2px 2px rgba(255,255,255,.1), 2px 2px 2px rgba(0,0,0,.5);
    @include breakpoint('desktop-wide', 'max')
    {
      min-width: 40%;
      position: fixed;
      display: block;
      z-index: 10;
      left: 0;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      top: 0;
      bottom: 0;
      background: $black;
      a.nav-item
      {
        display: block;
        width: 100%;
      }
    }

    @include breakpoint('desktop', 'max') { min-width: 50%; }
    @include breakpoint('tablet', 'max') { min-width: 70%; }
    @include breakpoint('phablet', 'max') { min-width: 90%; }
    @include breakpoint('phone', 'max') { min-width: 100%; }

    a.nav-item
    {
      height: 56px;
      padding: 0 $space-lg 0 $space-lg;

      line-height: 56px;
      font-size: $text-lg;
      font-family: $font-highlight;
      color: $white;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &:hover, &.active { color: $color-light1; }
    }
  }

  div.rightAside
  {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    line-height: 90px;
  }
}

/* ----- set page teaser below header  */
#pageTeaser {

  height: 640px;

  position: relative;
  //background: #1D1D21;
  font-family: $font-heading;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tag {
    background: black;
  }

  h1 {
    color: $white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-top: 140px;
    text-transform: uppercase;
  }

  .services {
    display: flex;
    justify-content: space-between;
    min-height: 140px;
    .service {
      min-height: 140px;
      color: $gray-4;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      width: 22%;
      .icon {
        margin: $space-md;
        background: $white;
      }
      h2 a {
       // color: $white;
        font-family: $font-highlight;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: -2px -2px 2px rgba(255,255,255,.1), 2px 2px 2px rgba(0,0,0,.5);
      }
      p {
        color: $gray-1;
        font-family: $font-subtitle;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
      }
    }
    .service-design .icon {
      background: #88c459;
    }
    .service-programming .icon {
      background: #00a8e8;
    }
    .service-tutorials .icon {
      background: #f5414f;
    }
    .service-news .icon {
      background: #ffd137;
    }

    .service-design a {
      color: #88c459;
    }
    .service-programming a {
      color: #00a8e8;
    }
    .service-tutorials a {
      color: #f5414f;
    }
    .service-news a {
      color: #ffd137;
    }

  }


}

.articles {
  display: flex;
  flex-direction: row;
  margin-bottom: $space-base;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  max-width: calc(50% - #{$space-lg / 2 });
  min-width: calc(50% - #{$space-lg / 2});
  background: #fff;
  margin-bottom: $space-lg;

  figure.image {
    background-color: $gray-6;
    height: 250px;
  }

  .body {
    padding: $space-base;
    h2 {
      color: $black;
      font-family: $font-highlight;
      font-weight: bold;
      font-size: $text-xxxl;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    p {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.tags
{
  text-align: center;
  padding: $space-lg;
  line-height: 33px;
  overflow: hidden;
}

/* FOOTER */
footer#pageBottom
{
  padding-top: $space-md;
  display: flex;
  flex-direction: column;
  background: $black;
  overflow: hidden;
  justify-content: flex-end;
  .brand
  {
    min-height: 100px;
    padding: $space-md;
    border-top: 1px solid $gray-10;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: $gray-4;
    .copyright
    {
      display: flex;
      align-items: center;
      align-content: center;
      .logo
      {
        margin-right: $space-sm;
      }
    }
  }
  .siteMap
  {
    min-height: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px;
    a.nav-item
    {
      height: 50px;
      color: $white;
      padding: 0 40px 0 40px;
      font-family: $font-highlight;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: uppercase;
    }
    a:hover
    {
      color: $color-light1;
    }
    a.active
    {
      color: $color-light1;
    }
  }

  @include breakpoint('phablet', 'max') {
    .icons
    {
      width: 100%;
      justify-content: space-between;
      > .icon
      {
        margin: $space-xs;
      }
    }
    .copyright
    {
      margin-left: $space-xs;
      margin-right: $space-xs;
      align-self: flex-start;
    }
  }

  @include breakpoint('tablet-wide', 'max') {
    .brand
    {
      flex-direction: column-reverse;
      padding: 0;
      > * {
        padding: $space-md;
      }
    }
  }
}
