{% extends 'block.full.html.twig' %}

{% set page_title = 'Articles' %}

{% block teaserContent %}
<div class="page-header">
	page header
</div>
{% endblock %}

{% block mainContent %}
	ddd
{% endblock %}
