<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="author" content="Daniel Kemeny">
  <meta name="description" content="Professional portfolio and blog with reference works, tutorials, articles and blog entries of the Author."/>
  <meta name="keywords" content="web development, web design, programming, tutorials, design, web graphics, portfolio, web developer, senior developer, full stack developer">
	<title>Home | Webdevplace</title>
  <!--
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  -->

  <link rel="stylesheet" href="public/static/index.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125097039-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125097039-1');
  </script>
</head>
<body>

<div id="pageWrapper">
  <div id="pageTop">
    <header id="pageHeader">
      <div class="leftAside">
        <a class="logo" href="/">
          <svg class="logoImage"><polygon fill="#00A4FF" points="52 12.2 52 18.3 58 21.5 58 34.5 52 37.8 52 43.8 64 37.8 64 18.3"/><path fill="#00A4FF" d="M33,2v52l18-9.7V11.7L33,2z M45,41l-6,3.3V11.8l6,3.3V41z"/><polygon fill="#00A4FF" points="26 5.3 26 44.3 20 41 20 8.5 14 11.8 14 37.8 8 34.5 8 15 2 18.3 2 37.8 32 54 32 2"/></svg>
          <div class="logoText">webdevplace</div>
        </a>
      </div>
      <nav class="navigation container">
        <a class="nav-item active" href="#">HOME</a>
        <a class="nav-item" href="#">ARTICLES</a>
        <a class="nav-item" href="#">PORTFOLIO</a>
        <a class="nav-item" href="#">ABOUT</a>
        <a class="nav-item" href="#">CONTACT</a>
      </nav>
      <div class="rightAside">
        <a class="icon circle">
          <svg width="30" height="30" viewBox="0 0 10.583333 10.583334">
            <g transform="translate(0 -286.42)">
              <path d="m8.4281 288.51-1.9295 3.5191 0.1454 0.18665h1.7841v2.5092h-3.1615l-0.26526 0.18077-0.85865 1.6505c-0.00589 0-0.16898 0.16899-0.18077 0.18078h-1.8214v-1.8313l1.8313-3.525-0.1454-0.18077h-1.6859v-2.5072h3.0652l0.26526-0.18077 0.85865-1.6505c0.00589 0 0.16898-0.16899 0.18077-0.18078h1.9177z" fill="currentColor" stroke-width=".019649"/>
            </g>
          </svg>
        </a>
        <a class="icon circle">
          <svg width="30" height="30" viewBox="0 0 10.583333 10.583334">
            <g transform="translate(0 -286.42)">
              <path d="m8.4281 288.51-1.9295 3.5191 0.1454 0.18665h1.7841v2.5092h-3.1615l-0.26526 0.18077-0.85865 1.6505c-0.00589 0-0.16898 0.16899-0.18077 0.18078h-1.8214v-1.8313l1.8313-3.525-0.1454-0.18077h-1.6859v-2.5072h3.0652l0.26526-0.18077 0.85865-1.6505c0.00589 0 0.16898-0.16899 0.18077-0.18078h1.9177z" fill="currentColor" stroke-width=".019649"/>
            </g>
          </svg>
        </a>
        <a class="icon circle">
          <svg width="30" height="30" viewBox="0 0 10.583333 10.583334">
            <g transform="translate(0 -286.42)">
              <path d="m8.4281 288.51-1.9295 3.5191 0.1454 0.18665h1.7841v2.5092h-3.1615l-0.26526 0.18077-0.85865 1.6505c-0.00589 0-0.16898 0.16899-0.18077 0.18078h-1.8214v-1.8313l1.8313-3.525-0.1454-0.18077h-1.6859v-2.5072h3.0652l0.26526-0.18077 0.85865-1.6505c0.00589 0 0.16898-0.16899 0.18077-0.18078h1.9177z" fill="currentColor" stroke-width=".019649"/>
            </g>
          </svg>
        </a>
        <a class="icon circle">
          <svg width="30" height="30" viewBox="0 0 10.583333 10.583334">
            <g transform="translate(0 -286.42)">
              <path d="m8.4281 288.51-1.9295 3.5191 0.1454 0.18665h1.7841v2.5092h-3.1615l-0.26526 0.18077-0.85865 1.6505c-0.00589 0-0.16898 0.16899-0.18077 0.18078h-1.8214v-1.8313l1.8313-3.525-0.1454-0.18077h-1.6859v-2.5072h3.0652l0.26526-0.18077 0.85865-1.6505c0.00589 0 0.16898-0.16899 0.18077-0.18078h1.9177z" fill="currentColor" stroke-width=".019649"/>
            </g>
          </svg>
        </a>
      </div>
    </header>
    <div id="pageTeaser">
      <div class="container">
        <p style="font-size: 60px; font-weight: bold;">Your unique website <br>starts at this place.</p>
      </div>
    </div>
  </div>
  
  <main id="pageMain">
    <div class="container articles">
      <article class="article">
        <figure class="image">
        </figure>
        <section class="body">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="text-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </section>
      </article>
      <article class="article">
        <figure class="image">
    
        </figure>
        <section class="body">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="text-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </section>
      </article>
      <article class="article">
        <figure class="image">
        </figure>
        <section class="body">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="text-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </section>
      </article>
      <article class="article">
        <figure class="image">
    
        </figure>
        <section class="body">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="text-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </section>
      </article>
    </div>
  </main>
  
  <footer id="pageBottom">
  
  </footer>
  
</div>


</body>
</html>
