<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/public/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <meta charset="UTF-8">
  <meta name="author" content="Daniel Kemeny">
  <meta name="description" content="Professional portfolio and blog with reference works, tutorials, articles and blog entries of the Author."/>
  <meta name="keywords" content="web development, web design, programming, tutorials, design, web graphics, portfolio, web developer, senior developer, full stack developer">
  <title>Home | Webdevplace</title>
  
  <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/index.css?v=1">
  
  <!-- Google Analytics -->
  <script async type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-125097039-1"></script>
  <!-- Google Adsense -->
  <script async type="text/javascript" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script type="text/javascript">
    /* Google Analytics */
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125097039-1');
    /* Google AdSense */
    (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-5878779425822200",
	    enable_page_level_ads: true
    });
  </script>
  
  <script type="text/javascript">
		window.executeAsyncTasks = [];
		window.executeAsync = function(cb){if(cb) executeAsyncTasks.push(cb);};
  </script>
  
</head>
<body>

<div id="pageWrapper">
  <div id="pageTop">
    <header id="pageHeader">
      <div class="leftAside">
        <a class="logo" href="/" target="_self" title="Webdevplace Logo">
          <svg aria-labelledby="websiteLogoTitle websiteLogoDesc" role="img" height="56" width="66" class="logoImage">
            <title id="websiteLogoTitle">Webdevplace Logo</title>
            <desc id="websiteLogoDesc">The logo of webdevplace.com</desc>
            <polygon fill="#ffffff" points="52 12.2 52 18.3 58 21.5 58 34.5 52 37.8 52 43.8 64 37.8 64 18.3"></polygon>
            <path fill="#ffffff" d="M33,2v52l18-9.7V11.7L33,2z M45,41l-6,3.3V11.8l6,3.3V41z"></path>
            <polygon fill="#00A8E8" points="26 5.3 26 44.3 20 41 20 8.5 14 11.8 14 37.8 8 34.5 8 15 2 18.3 2 37.8 32 54 32 2"></polygon>
          </svg>
          <div class="logoText">webdevplace</div>
        </a>
      </div>
      <nav class="navigation" ref="sideNav" v-if="!sideNavOpen">
        <a class="nav-item active" title="Home page" href="/">HOME</a>
        <a class="nav-item" title="Article archive"  href="/en/articles">ARTICLES</a>
        <a class="nav-item" title="Reference works" href="/en/portfolio">PORTFOLIO</a>
        <a class="nav-item" title="About the author" href="/en/about">ABOUT</a>
        <a class="nav-item" title="Contact" href="/en/contact">CONTACT</a>
      </nav>
      <div class="rightAside">
        <a class="icon circle icon-linkedin" href="https://www.linkedin.com/in/d%C3%A1niel-kem%C3%A9ny-ba1003142/" rel="noopener" target="_blank" title="LinkedIn Profile">
          <svg aria-labelledby="contactLinkedInTitle contactLinkedInDesc" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactLinkedInTitle">LinkedIn Profile</title>
            <desc id="contactLinkedInDesc">LinkedIn profile of Daniel Kemeny.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m2.515 296.74h-2.0844v-6.711h2.0844zm-1.0433-7.6264c-0.66639 0-1.2071-0.55196-1.2071-1.2184 0-0.66638 0.54074-1.2071 1.2071-1.2071 0.66639 0 1.2071 0.54074 1.2071 1.2071 0 0.66639-0.54074 1.2184-1.2071 1.2184zm8.8448 7.6264h-2.0799v-3.2669c0-0.77858-0.01571-1.777-1.0837-1.777-1.0837 0-1.2498 0.84589-1.2498 1.7209v3.323h-2.0822v-6.711h1.9992v0.91544h0.02917c0.27822-0.52728 0.95807-1.0837 1.9722-1.0837 2.1091 0 2.4973 1.3889 2.4973 3.1928v3.6864z"></path>
            </g>
          </svg>
        </a>
        <a class="icon circle icon-youtube" href="#" rel="noopener" title="YouTube Profile">
          <svg aria-labelledby="contactYouTubeTitle contactYouTubeDesc" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactYouTubeTitle">YouTube Profile</title>
            <desc id="contactYouTubeDesc">YouTube channel of webdevplace.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m10.109 289.28c-0.11563-0.4354-0.45632-0.7783-0.88889-0.89466-0.78407-0.21146-3.9281-0.21146-3.9281-0.21146s-3.144 0-3.9281 0.21146c-0.43257 0.11638-0.77326 0.45926-0.88889 0.89466-0.21009 0.78918-0.21009 2.4357-0.21009 2.4357s0 1.6466 0.21009 2.4357c0.11563 0.43538 0.45632 0.76401 0.88889 0.88038 0.78409 0.21145 3.9281 0.21145 3.9281 0.21145s3.144 0 3.9281-0.21145c0.43257-0.11637 0.77326-0.445 0.88889-0.88038 0.21009-0.78918 0.21009-2.4357 0.21009-2.4357s0-1.6465-0.21009-2.4357zm-5.8453 3.9307v-2.9899l2.6278 1.495z"></path>
            </g>
          </svg>
        </a>
        <a class="icon circle icon-github" href="https://github.com/kemenydani" rel="noopener" target="_blank" title="GitHub Profile">
          <svg aria-labelledby="contactGitHubTitle contactGitHubDesc" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactGitHubTitle">GitHub Profile</title>
            <desc id="contactGitHubDesc">GitHub Profile of Daniel Kemeny.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m3.6275 294.7c0 0.0405-0.04662 0.073-0.10541 0.073-0.06689 6e-3 -0.11352-0.0263-0.11352-0.073 0-0.0405 0.04662-0.073 0.10541-0.073 0.06081-6e-3 0.11352 0.0264 0.11352 0.073zm-0.63041-0.0912c-0.01419 0.0405 0.02635 0.0872 0.08716 0.0993 0.0527 0.0203 0.11352 0 0.12568-0.0405 0.01216-0.0405-0.02635-0.0872-0.08716-0.10541-0.0527-0.0142-0.11149 6e-3 -0.12568 0.0466zm0.89596-0.0345c-0.05879 0.0142-0.09933 0.0527-0.09324 0.0993 0.0061 0.0405 0.05879 0.0669 0.1196 0.0527 0.05878-0.0142 0.09933-0.0527 0.09324-0.0932-0.0061-0.0385-0.06081-0.0649-0.1196-0.0588zm1.3338-7.7678c-2.8115 0-4.9622 2.1345-4.9622 4.9461 0 2.248 1.4149 4.1717 3.4358 4.8488 0.25946 0.0466 0.35068-0.11351 0.35068-0.24528 0-0.12568-0.0061-0.81894-0.0061-1.2446 0 0-1.4189 0.30406-1.7169-0.60407 0 0-0.23108-0.58988-0.56352-0.74191 0 0-0.46419-0.31825 0.03243-0.31217 0 0 0.50474 0.0405 0.78244 0.52298 0.44392 0.78245 1.1879 0.55745 1.4777 0.42366 0.04662-0.32432 0.17838-0.54934 0.32433-0.68312-1.1331-0.12568-2.2764-0.28987-2.2764-2.2399 0-0.55744 0.15406-0.83718 0.47838-1.1939-0.0527-0.13176-0.225-0.67502 0.0527-1.3764 0.42365-0.13176 1.3987 0.54731 1.3987 0.54731 0.40541-0.11351 0.84122-0.17231 1.273-0.17231 0.43176 0 0.86758 0.0588 1.273 0.17231 0 0 0.97501-0.68109 1.3987-0.54731 0.27771 0.7034 0.10541 1.2446 0.0527 1.3764 0.32433 0.35878 0.52298 0.63853 0.52298 1.1939 0 1.9561-1.1939 2.1122-2.3271 2.2399 0.18649 0.16014 0.3446 0.4642 0.3446 0.94056 0 0.68313-0.0061 1.5284-0.0061 1.6946 0 0.13177 0.09324 0.29191 0.35068 0.24529 2.027-0.67299 3.4014-2.5967 3.4014-4.8447 0-2.8116-2.2804-4.9461-5.0919-4.9461zm-2.9919 6.9914c-0.02635 0.0203-0.02027 0.0669 0.01419 0.10541 0.03243 0.0324 0.07905 0.0466 0.10541 0.0203 0.02635-0.0203 0.02027-0.0669-0.01419-0.10541-0.03243-0.0324-0.07905-0.0466-0.10541-0.0203zm-0.21892-0.16419c-0.01419 0.0263 0.0061 0.0588 0.04662 0.0791 0.03243 0.0203 0.07297 0.0142 0.08716-0.0142 0.01419-0.0264-0.0061-0.0588-0.04662-0.0791-0.04054-0.0122-0.07297-6e-3 -0.08716 0.0142zm0.65676 0.72164c-0.03243 0.0263-0.02027 0.0872 0.02635 0.12568 0.04662 0.0466 0.10541 0.0527 0.13176 0.0203 0.02635-0.0263 0.01419-0.0872-0.02635-0.12568-0.0446-0.0466-0.10541-0.0527-0.13176-0.0203zm-0.23108-0.29799c-0.03243 0.0203-0.03243 0.073 0 0.11961 0.03243 0.0466 0.08716 0.0669 0.11352 0.0466 0.03243-0.0263 0.03243-0.079 0-0.12568-0.02838-0.0466-0.08108-0.0669-0.11352-0.0405z"></path>
            </g>
          </svg>
        </a>
        <a class="icon circle icon-deviantart" href="https://www.deviantart.com/snowy1337/gallery/" rel="noopener" target="_blank" title="DeviantArt Profile">
          <svg aria-labelledby="contactDeviantArtTitle contactDeviantArtDesc" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactDeviantArtTitle">DeviantArt Profile</title>
            <desc id="contactDeviantArtDesc">DeviantArt Profile of webdevplace.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m8.4281 288.51-1.9295 3.5191 0.1454 0.18665h1.7841v2.5092h-3.1615l-0.26526 0.18077-0.85865 1.6505c-0.00589 0-0.16898 0.16899-0.18077 0.18078h-1.8214v-1.8313l1.8313-3.525-0.1454-0.18077h-1.6859v-2.5072h3.0652l0.26526-0.18077 0.85865-1.6505c0.00589 0 0.16898-0.16899 0.18077-0.18078h1.9177z"></path>
            </g>
          </svg>
        </a>
        <!--
        <a class="icon circle icon-facebook" href="#" rel="noopener" target="_blank" title="Facebook Profile">
          <svg aria-labelledby="contactFacebookTitle contactFacebookDesc" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactFacebookTitle">Facebook Profile</title>
            <desc id="contactFacebookDesc">Facebook Profile of webdevplace.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m4.2057 296.74v-4.4969h-1.5062v-1.787h1.5062v-1.408c0-1.5297 0.93474-2.3623 2.2995-2.3623 0.65392 0 1.2155 0.0491 1.3785 0.0707v1.5984h-0.94652c-0.74229 0-0.88564 0.35347-0.88564 0.86992v1.2312h1.6751l-0.22976 1.787h-1.4453v4.4969"></path>
            </g>
          </svg>
        </a>
        -->
      </div>
    </header>
    <div id="pageTeaser">
      <div class="container">
      
      </div>
    </div>
  </div>
  <main id="pageMain">
    <div class="container articles">
      <article class="article">
        <figure class="image">
        </figure>
        <section class="body">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="text-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </section>
      </article>
      <article class="article">
        <figure class="image">
    
        </figure>
        <section class="body">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="text-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </section>
      </article>
      <article class="article">
        <figure class="image">
        </figure>
        <section class="body">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="text-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </section>
      </article>
      <article class="article">
        <figure class="image">
    
        </figure>
        <section class="body">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="text-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </section>
      </article>
    </div>
  </main>
  
  <footer id="pageBottom">
    <nav id="footerNavigation container-fluid" class="siteMap">
      <a class="nav-item active" href="#">Home</a>
      <a class="nav-item" href="#">Articles</a>
      <a class="nav-item" href="#">Portfolio</a>
      <a class="nav-item" href="#">About</a>
      <a class="nav-item" href="#">Contact</a>
    </nav>
    <div class="tags container-fluid">
      <a class="tag" title="Javascript" target="_self" href="#">Javascript</a>
      <a class="tag" title="HTML" target="_self" href="#">HTML</a>
      <a class="tag" title="CSS" target="_self" href="#">CSS</a>
      <a class="tag" title="Vue" target="_self" href="#">Vue</a>
      <a class="tag" title="SCSS" target="_self" href="#">SCSS</a>
      <a class="tag" title="PHP" target="_self" href="#">PHP</a>
      <a class="tag" title="Repositories" target="_self" href="#">Repositories</a>
      <a class="tag" title="Free Downloads" target="_self" href="#">Free Downloads</a>
      <a class="tag" title="Vue" target="_self" href="#">Vue</a>
      <a class="tag" title="SCSS" target="_self" href="#">SCSS</a>
      <a class="tag" title="PHP" target="_self" href="#">PHP</a>
      <a class="tag" title="Repositories" target="_self" href="#">Repositories</a>
      <a class="tag" title="Free Downloads" target="_self" href="#">Free Downloads</a>
      <a class="tag" title="QGIS" target="_self" href="#">QGIS</a>
      <a class="tag" title="Design" target="_self" href="#">Design</a>
      <a class="tag" title="Layout" target="_self" href="#">Layout</a>
      <a class="tag" title="JQuery" target="_self" href="#">JQuery</a>
      <a class="tag" title="OpenLayers" target="_self" href="#">OpenLayers</a>
      <a class="tag" title="Turf.js" target="_self" href="#">Turf.js</a>
      <a class="tag" title="JQueryUI" target="_self" href="#">JQueryUI</a>
      <a class="tag" title="Blog" target="_self" href="#">Blog</a>
      <a class="tag" title="Nuxt.js" target="_self" href="#">Nuxt.js</a>
      <a class="tag" title="GIS" target="_self" href="#">GIS</a>
      <a class="tag" title="Web Mapping" target="_self" href="#">Web Mapping</a>
      <a class="tag" title="Repositories" target="_self" href="#">Repositories</a>
      <a class="tag" title="Free Downloads" target="_self" href="#">Free Downloads</a>
      <a class="tag" title="QGIS" target="_self" href="#">QGIS</a>
      <a class="tag" title="Design" target="_self" href="#">Design</a>
      <a class="tag" title="Layout" target="_self" href="#">Layout</a>
      <a class="tag" title="JQuery" target="_self" href="#">JQuery</a>
      <a class="tag" title="OpenLayers" target="_self" href="#">OpenLayers</a>
      <a class="tag" title="Turf.js" target="_self" href="#">Turf.js</a>
      <a class="tag" title="JQueryUI" target="_self" href="#">JQueryUI</a>
      <a class="tag" title="Blog" target="_self" href="#">Blog</a>
      <a class="tag" title="Nuxt.js" target="_self" href="#">Nuxt.js</a>
      <a class="tag" title="GIS" target="_self" href="#">GIS</a>
      <a class="tag" title="Web Mapping" target="_self" href="#">Web Mapping</a>
      <a class="tag" title="QGIS" target="_self" href="#">QGIS</a>
      <a class="tag" title="Design" target="_self" href="#">Design</a>
      <a class="tag" title="Layout" target="_self" href="#">Layout</a>
      <a class="tag" title="JQuery" target="_self" href="#">JQuery</a>
      <a class="tag" title="OpenLayers" target="_self" href="#">OpenLayers</a>
      <a class="tag" title="Turf.js" target="_self" href="#">Turf.js</a>
      <a class="tag" title="JQueryUI" target="_self" href="#">JQueryUI</a>
      <a class="tag" title="Blog" target="_self" href="#">Blog</a>
      <a class="tag" title="Nuxt.js" target="_self" href="#">Nuxt.js</a>
      <a class="tag" title="GIS" target="_self" href="#">GIS</a>
      <a class="tag" title="Web Mapping" target="_self" href="#">Web Mapping</a>
      <a class="tag" title="Repositories" target="_self" href="#">Repositories</a>
      <a class="tag" title="Free Downloads" target="_self" href="#">Free Downloads</a>
      <a class="tag" title="QGIS" target="_self" href="#">QGIS</a>
      <a class="tag" title="Design" target="_self" href="#">Design</a>
      <a class="tag" title="Layout" target="_self" href="#">Layout</a>
      <a class="tag" title="JQuery" target="_self" href="#">JQuery</a>
      <a class="tag" title="OpenLayers" target="_self" href="#">OpenLayers</a>
      <a class="tag" title="Turf.js" target="_self" href="#">Turf.js</a>
      <a class="tag" title="JQueryUI" target="_self" href="#">JQueryUI</a>
      <a class="tag" title="Blog" target="_self" href="#">Blog</a>
      <a class="tag" title="Nuxt.js" target="_self" href="#">Nuxt.js</a>
      <a class="tag" title="GIS" target="_self" href="#">GIS</a>
      <a class="tag" title="Web Mapping" target="_self" href="#">Web Mapping</a>
    </div>
    <div class="brand container-fluid">
      <div class="copyright">
        <a class="logo copyrightLogo" href="/" target="_self" title="Webdevplace Logo">
          <svg aria-labelledby="websiteLogoTitleFooter websiteLogoDescFooter" role="img" height="56" width="66" class="logoImage">
            <title id="websiteLogoTitleFooter">Webdevplace Logo</title>
            <desc id="websiteLogoDescFooter">The logo of webdevplace.com</desc>
            <polygon fill="#00a8e8" points="52 12.2 52 18.3 58 21.5 58 34.5 52 37.8 52 43.8 64 37.8 64 18.3"></polygon>
            <path fill="#00a8e8" d="M33,2v52l18-9.7V11.7L33,2z M45,41l-6,3.3V11.8l6,3.3V41z"></path>
            <polygon fill="#00a8e8" points="26 5.3 26 44.3 20 41 20 8.5 14 11.8 14 37.8 8 34.5 8 15 2 18.3 2 37.8 32 54 32 2"></polygon>
          </svg>
        </a>
        <span class="copyrightText">Copyright © 2018-2019 All Rights Reserved</span>
      </div>
      <div class="icons footerIcons">
        <a class="icon circle icon-linkedin" href="https://www.linkedin.com/in/d%C3%A1niel-kem%C3%A9ny-ba1003142/" rel="noopener" target="_blank" title="LinkedIn Profile">
          <svg aria-labelledby="contactLinkedInTitleFooter contactLinkedInDescFooter" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactLinkedInTitleFooter">LinkedIn Profile</title>
            <desc id="contactLinkedInDescFooter">LinkedIn profile of Daniel Kemeny.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m2.515 296.74h-2.0844v-6.711h2.0844zm-1.0433-7.6264c-0.66639 0-1.2071-0.55196-1.2071-1.2184 0-0.66638 0.54074-1.2071 1.2071-1.2071 0.66639 0 1.2071 0.54074 1.2071 1.2071 0 0.66639-0.54074 1.2184-1.2071 1.2184zm8.8448 7.6264h-2.0799v-3.2669c0-0.77858-0.01571-1.777-1.0837-1.777-1.0837 0-1.2498 0.84589-1.2498 1.7209v3.323h-2.0822v-6.711h1.9992v0.91544h0.02917c0.27822-0.52728 0.95807-1.0837 1.9722-1.0837 2.1091 0 2.4973 1.3889 2.4973 3.1928v3.6864z"></path>
            </g>
          </svg>
        </a>
        <a class="icon circle icon-youtube" href="#" rel="noopener" target="_blank" title="YouTube Profile">
          <svg aria-labelledby="contactYouTubeTitleFooter contactYouTubeDescFooter" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactYouTubeTitleFooter">YouTube Profile</title>
            <desc id="contactYouTubeDescFooter">YouTube channel of webdevplace.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m10.109 289.28c-0.11563-0.4354-0.45632-0.7783-0.88889-0.89466-0.78407-0.21146-3.9281-0.21146-3.9281-0.21146s-3.144 0-3.9281 0.21146c-0.43257 0.11638-0.77326 0.45926-0.88889 0.89466-0.21009 0.78918-0.21009 2.4357-0.21009 2.4357s0 1.6466 0.21009 2.4357c0.11563 0.43538 0.45632 0.76401 0.88889 0.88038 0.78409 0.21145 3.9281 0.21145 3.9281 0.21145s3.144 0 3.9281-0.21145c0.43257-0.11637 0.77326-0.445 0.88889-0.88038 0.21009-0.78918 0.21009-2.4357 0.21009-2.4357s0-1.6465-0.21009-2.4357zm-5.8453 3.9307v-2.9899l2.6278 1.495z"></path>
            </g>
          </svg>
        </a>
        <a class="icon circle icon-github" href="https://github.com/kemenydani" rel="noopener" target="_blank" title="GitHub Profile">
          <svg aria-labelledby="contactGitHubTitleFooter contactGitHubDescFooter" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactGitHubTitleFooter">GitHub Profile</title>
            <desc id="contactGitHubDescFooter">GitHub Profile of Daniel Kemeny.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m3.6275 294.7c0 0.0405-0.04662 0.073-0.10541 0.073-0.06689 6e-3 -0.11352-0.0263-0.11352-0.073 0-0.0405 0.04662-0.073 0.10541-0.073 0.06081-6e-3 0.11352 0.0264 0.11352 0.073zm-0.63041-0.0912c-0.01419 0.0405 0.02635 0.0872 0.08716 0.0993 0.0527 0.0203 0.11352 0 0.12568-0.0405 0.01216-0.0405-0.02635-0.0872-0.08716-0.10541-0.0527-0.0142-0.11149 6e-3 -0.12568 0.0466zm0.89596-0.0345c-0.05879 0.0142-0.09933 0.0527-0.09324 0.0993 0.0061 0.0405 0.05879 0.0669 0.1196 0.0527 0.05878-0.0142 0.09933-0.0527 0.09324-0.0932-0.0061-0.0385-0.06081-0.0649-0.1196-0.0588zm1.3338-7.7678c-2.8115 0-4.9622 2.1345-4.9622 4.9461 0 2.248 1.4149 4.1717 3.4358 4.8488 0.25946 0.0466 0.35068-0.11351 0.35068-0.24528 0-0.12568-0.0061-0.81894-0.0061-1.2446 0 0-1.4189 0.30406-1.7169-0.60407 0 0-0.23108-0.58988-0.56352-0.74191 0 0-0.46419-0.31825 0.03243-0.31217 0 0 0.50474 0.0405 0.78244 0.52298 0.44392 0.78245 1.1879 0.55745 1.4777 0.42366 0.04662-0.32432 0.17838-0.54934 0.32433-0.68312-1.1331-0.12568-2.2764-0.28987-2.2764-2.2399 0-0.55744 0.15406-0.83718 0.47838-1.1939-0.0527-0.13176-0.225-0.67502 0.0527-1.3764 0.42365-0.13176 1.3987 0.54731 1.3987 0.54731 0.40541-0.11351 0.84122-0.17231 1.273-0.17231 0.43176 0 0.86758 0.0588 1.273 0.17231 0 0 0.97501-0.68109 1.3987-0.54731 0.27771 0.7034 0.10541 1.2446 0.0527 1.3764 0.32433 0.35878 0.52298 0.63853 0.52298 1.1939 0 1.9561-1.1939 2.1122-2.3271 2.2399 0.18649 0.16014 0.3446 0.4642 0.3446 0.94056 0 0.68313-0.0061 1.5284-0.0061 1.6946 0 0.13177 0.09324 0.29191 0.35068 0.24529 2.027-0.67299 3.4014-2.5967 3.4014-4.8447 0-2.8116-2.2804-4.9461-5.0919-4.9461zm-2.9919 6.9914c-0.02635 0.0203-0.02027 0.0669 0.01419 0.10541 0.03243 0.0324 0.07905 0.0466 0.10541 0.0203 0.02635-0.0203 0.02027-0.0669-0.01419-0.10541-0.03243-0.0324-0.07905-0.0466-0.10541-0.0203zm-0.21892-0.16419c-0.01419 0.0263 0.0061 0.0588 0.04662 0.0791 0.03243 0.0203 0.07297 0.0142 0.08716-0.0142 0.01419-0.0264-0.0061-0.0588-0.04662-0.0791-0.04054-0.0122-0.07297-6e-3 -0.08716 0.0142zm0.65676 0.72164c-0.03243 0.0263-0.02027 0.0872 0.02635 0.12568 0.04662 0.0466 0.10541 0.0527 0.13176 0.0203 0.02635-0.0263 0.01419-0.0872-0.02635-0.12568-0.0446-0.0466-0.10541-0.0527-0.13176-0.0203zm-0.23108-0.29799c-0.03243 0.0203-0.03243 0.073 0 0.11961 0.03243 0.0466 0.08716 0.0669 0.11352 0.0466 0.03243-0.0263 0.03243-0.079 0-0.12568-0.02838-0.0466-0.08108-0.0669-0.11352-0.0405z"></path>
            </g>
          </svg>
        </a>
        <a class="icon circle icon-deviantart" href="https://www.deviantart.com/snowy1337/gallery/" rel="noopener" target="_blank" title="DeviantArt Profile">
          <svg aria-labelledby="contactDeviantArtTitleFooter contactDeviantArtDescFooter" role="img" width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
            <title id="contactDeviantArtTitleFooter">DeviantArt Profile</title>
            <desc id="contactDeviantArtDescFooter">DeviantArt Profile of webdevplace.</desc>
            <g transform="translate(0 -286.42)">
              <path d="m8.4281 288.51-1.9295 3.5191 0.1454 0.18665h1.7841v2.5092h-3.1615l-0.26526 0.18077-0.85865 1.6505c-0.00589 0-0.16898 0.16899-0.18077 0.18078h-1.8214v-1.8313l1.8313-3.525-0.1454-0.18077h-1.6859v-2.5072h3.0652l0.26526-0.18077 0.85865-1.6505c0.00589 0 0.16898-0.16899 0.18077-0.18078h1.9177z"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </footer>
</div>

<script type="text/javascript" src="static/js/vue.min.js?v=2.5.17"></script>

<script type="application/javascript">
	window.executeAsync(function(){
		
		window.App = new Vue({
          el: '#pageWrapper',
          data: function(){
          	return {
          		sideNavOpen : false
            }
          },
          methods : {
              toggleSideNav(){
              	  this.sideNavOpen = !this.sideNavOpen;
              }
          },
          watch : {
	          sideNavOpen : function(bool) {
	              this.$refs['sideNav'].style.maxWidth = bool ? '100%' : '0px';
              }
          }
        });
		
	});
</script>

<script type="text/javascript">
	(function(){
		if (window.executeAsyncTasks) {
			(function(){
				window.executeAsyncTasks.forEach(function(cb){
					if(cb)cb();
				});
			})();
		}
	})();
</script>

</body>
</html>
