<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="author" content="Daniel Kemeny">
  <meta name="description" content="Professional portfolio and blog with reference works, tutorials, articles and blog entries of the Author."/>
  <meta name="keywords" content="web development, web design, programming, tutorials, design, web graphics, portfolio, web developer, senior developer, full stack developer">
	<title>Home | Webdevplace</title>
  <!--
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  -->
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      background: #f1f1f1;
    }
    #pageHeader {
      background: #ffffff;
      height: 90px;
      display: flex;
      align-items: center;
      align-content: center;
      padding-left: 20px;
      padding-right: 20px;
    }

    #pageHeader svg.logo {
      width: 66px;
      height: 56px;
    }
  </style>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125097039-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125097039-1');
  </script>
</head>
<body>

<header id="pageHeader">
  <svg class="logo"><polygon fill="#00A4FF" points="52 12.2 52 18.3 58 21.5 58 34.5 52 37.8 52 43.8 64 37.8 64 18.3"/><path fill="#00A4FF" d="M33,2v52l18-9.7V11.7L33,2z M45,41l-6,3.3V11.8l6,3.3V41z"/><polygon fill="#00A4FF" points="26 5.3 26 44.3 20 41 20 8.5 14 11.8 14 37.8 8 34.5 8 15 2 18.3 2 37.8 32 54 32 2"/></svg>
</header>
<div class="heading">

</div>
<footer id="pageFooter">

</footer>

</body>
</html>
