{% extends 'block.full.html.twig' %}

{% set page_title = 'Home' %}

{% block teaserContent %}
	<div class="container container-teaser">
		<h1>Your unique website starts at this place</h1>
		<p>Websites, designs and tutorials from professionals to help your business shine.</p>
	</div>
	<div class="container container-services">
		<div class="services">
			<div class="service service-design">
				<div class="icon circle">
					<svg width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
						<g transform="translate(0 -286.42)">
							<path d="m4.2763 286.78c-1.952 0.38097-3.5249 1.95-3.9098 3.8961-0.72659 3.6722 2.5863 6.4097 5.0822 6.0228 0.80907-0.12568 1.2057-1.0722 0.83459-1.8008-0.45363-0.89154 0.19441-1.9323 1.1959-1.9323h1.5651c0.70302 0 1.2725-0.58127 1.2745-1.2823-0.0098-3.0949-2.8258-5.5299-6.0425-4.9035zm-2.1267 6.1858c-0.34758 0-0.6284-0.28082-0.6284-0.6284s0.28082-0.6284 0.6284-0.6284 0.6284 0.28082 0.6284 0.6284-0.28082 0.6284-0.6284 0.6284zm0.6284-2.5136c-0.34758 0-0.6284-0.28082-0.6284-0.62841 0-0.34758 0.28082-0.6284 0.6284-0.6284 0.34758 0 0.6284 0.28082 0.6284 0.6284 0 0.34759-0.28082 0.62841-0.6284 0.62841zm2.5136-1.2568c-0.34758 0-0.6284-0.28081-0.6284-0.6284 0-0.34758 0.28082-0.6284 0.6284-0.6284s0.6284 0.28082 0.6284 0.6284c0 0.34759-0.28082 0.6284-0.6284 0.6284zm2.5136 1.2568c-0.34758 0-0.6284-0.28082-0.6284-0.62841 0-0.34758 0.28082-0.6284 0.6284-0.6284 0.34758 0 0.6284 0.28082 0.6284 0.6284 0 0.34759-0.28082 0.62841-0.6284 0.62841z"/>
						</g>
					</svg>
				</div>
				<h2><a href="/en/portfolio">Webdesign</a></h2>
				<p>Website and logo design without compromises. Pixel perfect quality artworks from the ground up.</p>
				<br>
				<a class="cta" href="/en/portfolio">Show Designs &raquo;</a>
			</div>
			<div class="service service-programming">
				<div class="icon circle">
					<svg width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
						<g transform="translate(0 -286.42)">
							<path d="m4.646 295.72-0.95821-0.27803c-0.10053-0.0283-0.15708-0.13352-0.12881-0.23406l2.1442-7.386c0.02828-0.10054 0.13352-0.15708 0.23406-0.1288l0.95821 0.27803c0.10053 0.0283 0.15708 0.13352 0.12881 0.23405l-2.1442 7.386c-0.02985 0.10053-0.13352 0.15865-0.23406 0.12881zm-1.7908-1.7625 0.68332-0.72886c0.07226-0.077 0.06755-0.19949-0.01257-0.27018l-1.4232-1.2519 1.4232-1.252c0.08011-0.0707 0.0864-0.19321 0.01257-0.27018l-0.68332-0.72887c-0.07069-0.0754-0.19007-0.0801-0.26704-8e-3l-2.2636 2.1206c-0.08011 0.0738-0.08011 0.20107 0 0.2749l2.2636 2.1222c0.07697 0.0723 0.19636 0.0691 0.26704-8e-3zm5.1398 9e-3 2.2636-2.1222c0.08011-0.0738 0.08011-0.20107 0-0.2749l-2.2636-2.1237c-0.0754-0.0707-0.19478-0.0675-0.26704 8e-3l-0.68332 0.72887c-0.07226 0.077-0.06755 0.19949 0.01257 0.27018l1.4232 1.2535-1.4232 1.2519c-0.08011 0.0707-0.0864 0.19321-0.01257 0.27018l0.68332 0.72886c0.07069 0.077 0.19007 0.0801 0.26704 9e-3z"/>
						</g>
					</svg>
				</div>
				<h2><a href="/en/portfolio">Webdevelopment</a></h2>
				<p>Coding websites from ground up to ensure that your website is fulfills your requirements.</p>
				<br>
				<a class="cta" href="/en/portfolio">Show References &raquo;</a>
			</div>
			<div class="service service-tutorials">
				<div class="icon circle">
					<svg width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
						<g transform="translate(0 -286.42)">
							<path d="m9.2391 293.44c-0.49192 0.39923-1.0335 0.73012-1.6209 0.96322l1.0679 1.8496 1.0594 0.45244c0.19264 0.0823 0.41023-0.0434 0.43536-0.25136l0.13786-1.1439zm0.8344-1.8569c0.09544-0.15062 0.03711-0.35328-0.11881-0.43969l-0.55122-0.30575c-0.14689-0.0815-0.32618-0.0287-0.41749 0.11233-0.8073 1.2476-2.1968 2.0105-3.6942 2.0105-0.46992 0-0.92748-0.0835-1.363-0.22641l1.3228-2.2913c0.01375 3.6e-4 0.02632 4e-3 0.04006 4e-3 0.01375 0 0.02651-4e-3 0.04006-4e-3l1.0033 1.7379c0.61328-0.17596 1.1696-0.50567 1.6222-0.96067l-1.017-1.7617c0.1463-0.26766 0.23683-0.57008 0.23683-0.89665 0-1.0412-0.84402-1.8852-1.8852-1.8852-1.0412 0-1.8852 0.84401-1.8852 1.8852 0 0.32657 0.09053 0.62899 0.23663 0.89665l-1.3412 2.3233c-0.24645-0.22799-0.47051-0.48288-0.66139-0.76586-0.09406-0.13943-0.27434-0.18891-0.41985-0.10466l-0.54494 0.31557c-0.15415 0.0892-0.20875 0.2926-0.11076 0.44125 0.30576 0.46423 0.68122 0.86817 1.0993 1.2179l-1.3998 2.4244 0.13786 1.1439c0.02513 0.20796 0.24272 0.33364 0.43536 0.25136l1.0594-0.45244 1.3903-2.4081c0.63213 0.24036 1.3094 0.37232 2.0042 0.37232 1.9451 0 3.7484-1.0017 4.7817-2.6342zm-4.7817-3.6498c0.34699 0 0.6284 0.28141 0.6284 0.6284 0 0.347-0.2814 0.6284-0.6284 0.6284-0.34699 0-0.6284-0.2814-0.6284-0.6284 0-0.34699 0.2814-0.6284 0.6284-0.6284z"/>
						</g>
					</svg>
				</div>
				<h2><a href="/en/tutorials">Web Tutorials</a></h2>
				<p>Web development and design tutorials, best practices from professional authors. </p>
				<br>
				<a class="cta" href="/en/tutorials">Show Tutorials &raquo;</a>
			</div>
			<div class="service service-news">
				<div class="icon circle">
					<svg width="30" height="30" version="1.1" viewBox="0 0 10.583333 10.583334">
						<g transform="translate(0 -286.42)">
							<path d="m7.087 289.76c-0.29398-1.8105-0.98737-3.0817-1.7943-3.0817-0.80693 0-1.5003 1.2712-1.7943 3.0817zm-3.7407 1.9464c0 0.45009 0.02433 0.88194 0.066907 1.2976h3.7569c0.042577-0.41562 0.066906-0.84747 0.066906-1.2976 0-0.4501-0.02433-0.88195-0.066906-1.2976h-3.7569c-0.042577 0.41563-0.066906 0.84748-0.066906 1.2976zm6.5832-1.9464c-0.57985-1.3766-1.7538-2.4411-3.2034-2.8709 0.4947 0.68528 0.83531 1.7172 1.0137 2.8709zm-6.0722-2.8709c-1.4476 0.42981-2.6235 1.4942-3.2014 2.8709h2.1897c0.17639-1.1536 0.517-2.1856 1.0117-2.8709zm6.2892 3.5197h-2.3255c0.042577 0.42577 0.066906 0.86167 0.066906 1.2976 0 0.4359-0.02433 0.8718-0.066906 1.2976h2.3235c0.11151-0.41562 0.17436-0.84747 0.17436-1.2976 0-0.4501-0.06285-0.88195-0.17233-1.2976zm-7.4489 1.2976c0-0.43591 0.02433-0.87181 0.066906-1.2976h-2.3255c-0.10948 0.41563-0.17436 0.84748-0.17436 1.2976 0 0.45009 0.064878 0.88194 0.17436 1.2976h2.3235c-0.040549-0.42576-0.064878-0.86166-0.064879-1.2976zm0.80085 1.9464c0.29398 1.8105 0.98737 3.0817 1.7943 3.0817 0.80693 0 1.5003-1.2712 1.7943-3.0817zm3.2297 2.8709c1.4476-0.42981 2.6235-1.4942 3.2034-2.8709h-2.1897c-0.17842 1.1536-0.51903 2.1856-1.0137 2.8709zm-6.0722-2.8709c0.57985 1.3766 1.7538 2.4411 3.2034 2.8709-0.4947-0.68528-0.83531-1.7172-1.0137-2.8709z"/>
						</g>
					</svg>
				</div>
				<h2><a href="/en/articles">Fresh Web News</a></h2>
				<p>Interesting up to date news from the web world. Learn more about current trends and best practices.</p>
				<br>
				<a class="cta" href="/en/articles">Show Articles &raquo;</a>
			</div>
		</div>
		<div class="container tags">
			<a class="tag" title="Javascript" target="_self" href="#">Javascript</a>
			<a class="tag" title="HTML" target="_self" href="#">HTML</a>
			<a class="tag" title="CSS" target="_self" href="#">CSS</a>
			<a class="tag" title="Web Design" target="_self" href="#">Web Design</a>
			<a class="tag" title="SEO" target="_self" href="#">SEO</a>
			<a class="tag" title="Vue" target="_self" href="#">Vue</a>
			<a class="tag" title="Logo Design" target="_self" href="#">Logo Design</a>
			<a class="tag" title="PHP" target="_self" href="#">PHP</a>
			<a class="tag" title="Design" target="_self" href="#">Design</a>
			<a class="tag" title="Responsive Website" target="_self" href="#">Responsive Website</a>
			<a class="tag" title="Layout" target="_self" href="#">Web programming</a>
			<a class="tag" title="UX Design" target="_self" href="#">UX Design</a>
		</div>
	</div>
{% endblock %}

{% block mainContent %}
<div id="pageReferences" class="container-fluid">
	<article class="reference">
		<h2>Avenue Esports Website</h2>
	</article>
	<article class="reference">
		<h2>Juventus Club Hungary Logo</h2>
	</article>
	<article class="reference">
		<h2>MyDesire Logo</h2>
	</article>
	<article class="reference">
		<h2>NetCups Webdesign</h2>
	</article>
</div>
<div class="container articles">
	{% for article in articles %}
		<article class="article">
			<figure class="image">
			</figure>
			<section class="body">
				<h2><a href="">{{ article.Title }}</a></h2>
				<p class="text-md">{{ article.Teaser }}</p>
			</section>
		</article>
	{% endfor %}
</div>
{% endblock %}
