{% extends 'block.full.html.twig' %}

{% set page_title = 'Portfolio' %}

{% block teaserContent %}
<div class="page-header">
	page header
</div>
{% endblock %}

{% block mainContent %}
	under construction
{% endblock %}
